* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url(fonts/MyriadPro-Regular.otf);
}

body {
    background-color: #e9f0fd;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

/* start header */
.header {
    padding-bottom: 18px;
    padding-top: 18px;
    background-color: #fff;
}


.logo {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.logo__link {
    text-decoration: none;
    color: #555252;
    font: 30px "Roboto", sans-serif;
    font-weight: 300;
}

.logo::first-letter {
    color: #1abc9c;
    font: 30px "Roboto-Black", sans-serif;
    font-weight: 900;
}

.navigation {
    line-height: 3;
    display: inline-block;
    float: right;
}

.menu {
    list-style-type: none;
    text-align: right;
}

.menu li {
    display: inline-block;
    padding: 0 34px 0 0;
}

/* .menu li:first-child {
    float: left;
} */

.menu li:last-child {
    padding: 0;
}

.menu li a {
    text-decoration: none;
    font: 14px "Open-sans", sans-serif;
    color: #0f0101;
    line-height: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #1abc9c;
}
/* end header */
.intro {
    background-image: url(../image/banner1.jpg);
    height: 600px;
    margin-bottom: 101px;
    background-position: center;
    background-size: cover;
}

.intro-heading {
    font: 60px "Roboto-Black", sans-serif;
    font-weight: 900;
    line-height: 82px;
    letter-spacing: -2px;
}

.intro-heading-sm {
    font: 24px "Roboto", sans-serif;
    font-weight: 300;
}

.intro-heading, .intro-heading-sm {
    color: #fff;
}

.intro-text {
    position: relative;
    padding-top: 217px;
    margin: 0 auto;
    /* width: 870px; */
}

.intro-text::before {
    content: '';
    font-size: 24pt;
    text-align: center;
    line-height: 140px;
    color: #fff;
    background-color: #1abc9c;
    float: left;
    position: relative;
    top: 30px;
    bottom: 0;
    left: -81px;
    display: block;
    height: 104px;
    width: 104px;
    background-image: url('../image/prev.png');
    background-repeat: no-repeat;
    background-position: center;
}

.intro-text::after {
    content: '';
    font-size: 24pt;
    text-align: center;
    line-height: 140px;
    color: #fff;
    background-color: #1abc9c;
    float: right;
    position: relative;
    top: -80px;
    right: -81px;
    display: block;
    height: 104px;
    width: 104px;
    background-image: url('../image/next.png');
    background-repeat: no-repeat;
    background-position: center;
}

.heading {
    font: 48px "Roboto-Black", sans-serif;
    font-weight: 900;
    color: #515151;
    text-align: center;
    letter-spacing: -2px;
    padding-bottom: 32px;
}
 
.underline {
    position: relative;
}

.underline::before  {
    display: block;
    position: absolute;
    content: "";
    height: 7px;
    width: 164px;
    background-color: #1abc9c;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
}

.box-goods {
    margin-top: 92px;
}
 
.box-goods li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 255px;
}

.box-goods__li:hover .name-goods {
    background-color: #1abc9c;
}

.box-goods__img {
    display: block;
    position: absolute;
}

.box-goods__li:hover .overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border: 10px solid #fff;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 322px;
}

.button-overlay {
    display: inline-block;
    border: 1px solid #fff;
    padding: 14px 12px 13px;
    width: 50px;
    height: 50px;
}

.icons {
    width: 26px;
    height: 23px;
}

.all-icons {
    opacity: 0;
    position: absolute;
    bottom: 100px;
    left: 33px;
}

.overlay:hover .all-icons {
    opacity: 1;
}

.all-icons a:nth-of-type(3) {
    margin: 0;
}

.all-icons a:nth-of-type(4) {
    margin: 0;
    background-color: #323232;
    width: 172px;
    height: 50px;
    margin-top: 7px;
}

.all-icons a:nth-of-type(4) span {
    line-height: 24px;
}

.span-text {
    float: right;
}

.button-overlay:hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.all-icons a {
    margin-right: 7px;
}

.basket {
    text-transform: uppercase;
    font: 14px 'Open-sans', sans-serif;
    text-decoration: none;
    color: #fff;
}

.basket:hover {
    border: 1px solid #fff;
}

.box-goods li:nth-child(4n) {
    margin-right: 0;
}

.box-goods__li,
.all-icons a:nth-of-type(4) > img {
    float: left;
}

.price-goods {
    float: right;
    background-color: rgba(250, 250, 250, 0.4);
}

.name-goods {
    background-color: #323232;
    font: 18px "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 2.5;
    padding-left: 14px;
    color: #fff;
}


.price-goods {
    padding: 0 12px;
}

.box-goods__link {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.clearfix {
    clear: both;
}

/* block-news */
.content {
    padding-bottom: 81px;
}

.block {
    clear: both;
    overflow: hidden; /* Отменяем обтекание */
}

.block-news {
    float: left;
    margin-top: 81px;
}

.box-new {
    display: inline-block;
    width: 350px;
    margin-right: 26px;
}

.box-new:nth-of-type(3) {
    margin: 0;
}

.box-new__heading, .box-new__text {
    color: #555252;
}

.box-new__heading {
    text-decoration: none;
    font: 18px 'Open-sans', sans-serif;
    font-weight: 700;
    position: relative;
    margin-bottom: 34px;
    letter-spacing: -1px;
}

.box-new__heading::after {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 136px;
    background-color: #1abc9c;
    top: 60px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
}

.box-new__pic {
    margin-bottom: 14px;
    display: inline-block;
}

.box-new__pic:hover {
    opacity: 0.6;
}

.box-new__text {
    font: 14px 'MyriadPro-Regular', sans-serif;
    font-weight: 400;
    text-align: left;
}

.box-new__link {
    background-color: #1abc9c;
    padding: 19px 42px 18px 43px;
    font: 16px 'Open-sans', sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin-top: 17px;
    font-weight: 300;
}

.box-new__link:hover {
    background-color: #515151;

}

.box-new__text, 
.box-new__link,
.box-new__heading {
    line-height: 26px;
}

/*end  block-news */

/* footer */
.footer {
    background-color: #323232;
}

.footer__p {
    text-align: center;
    padding: 38px 0 33px;
    font: 16px 'Open sans', sans-serif;
    color: #fefefe;
}

.footer__span {
    font: 16px 'Open sans', sans-serif;
    font-weight: 400;
    color: #1abc9c;
}